{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://t4.ftcdn.net/jpg/03/06/93/79/240_F_306937984_i6wsfZgZnZejReMQML22qErCxMzgGfjo.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1></h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
          <div class="site-heading">
            <h1 style="text-align: center;">Please Login or Register!
            </h1>
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}